*,
*::before,
*::after{
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-image: linear-gradient(black, violet, pink);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#body{
    background-color: white;
}
#mainContainer{
    display: flex;
    flex-flow: row wrap;
    width: 45%;
    height: 100%;
    flex: 1 1 0;
    border: solid black 1em;
    border-radius: 1em;
}

.gridDiv{
    
    background-color: white;
    flex: 1 1 6.25%;
    
}

.hovered{
    background-color: blueviolet;
}

#askSizeButton{
    height: 3em;
    background-color: white;
    font-size:20px;
    border-radius: 1em;
}